*{
	margin: 0;
	padding: 0;
}
body{
	background: #E3516E;
}
.box-a{
	 position: relative;
	  width: 450px;
    height: 440px;
        margin: 100px auto;

    border-radius: 50%;
        background:  #E3516E;
}

.box {
        position: absolute;
    background: #2e3b4e;
    left: 0%;
    bottom: 0%;
    /* border: 1px solid; */
    border-radius: 1px 6px 8px 300px;
    width: 228px;
    height: 234px;
    /* right: 84%
*/
}
.box2{
	position: absolute;
    background: red;
    left: 0%;
    /* bottom: 0%; */
    top: 0%;
    /* border: 1px solid; */
    border-radius: 214px 0px 0px 2px;
    width: 228px;
    height: 220px;
    right: 12;
}

.box3{
	position: absolute;
    background: black;
    left: 50%;
    /* bottom: 0%; */
    /* top: 1%; */
    /* border: 1px solid; */
    border-radius: 3px 342px 5px 0px;
    width: 225px;
    height: 220px;
    right: 12;
}